@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');

*{
    padding: 0;
    margin: 0;
}

header{
    display: flex;
    border: 2px solid white;
    background-color: rgb(232, 135, 25);
    padding-top: 20px;
    text-align: center;
    justify-content: center;
    padding-bottom: 20px;
}

.header{
    display: block;
    overflow: hidden;
    background-color:white;  
    padding: 10px 80px;
    padding-top:10px;
    border-radius: 30px;
    background-color: wheat;
}

body{
    background: url('temp4.jpg') no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment:fixed;
    padding-left: -20px;
}

.bodyy{
    display: flex;
    justify-content:center;
    text-align: center;  
   background-color: rgba(239, 208, 177, 0.64);
    font-size: 20px;
    color:rgb(17, 17, 17);
    padding-bottom: 70px;
    padding-top: 70px;
    margin-top: 12%;
    padding-left: 20px;
    padding-right: 25px;
    margin-left: 20%;
    margin-right: 20%;
    border-radius: 20px; 
    box-shadow:2px 2px 2px 5px rgb(222, 157, 35);   
}

h3{
    text-align: center;
    color: black;
    letter-spacing: 1px;
    text-shadow: 5px 1px 5px orange;
}

label{
    color: black;
}

.box{
    width: 45%;
}

input{
    width: 60%;
    height:40px;
    border-radius: 5px;
    border: 2px solid rgb(13, 13, 13);
    outline:2px;
    margin-top: 10px;
    padding: 0 20px;
}

input:focus{
    border-color: blue;
}